
@*@{
    ViewBag.Title = "_CategoryMenu";
}

<h2>_CategoryMenu</h2>*@

<div class="panel panel-default">
    <div class="panel-heading">Chung loai</div>
    <div class="list-group">
        @foreach(var c in ViewBag.Item)
        {
            <a href="@Url.Action("ListByCategory", "Product", new { Id= c.Id})" class="list-group-item">@c.NameVN</a>
        }
    </div>
</div>