
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>UnitPrice</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in ViewBag.Items)
            {
            <tr>

                <td>@i.Name</td>
                <td>@i.UnitPrice</td>
                <td>@i.Category.NameVN</td>
            </tr>
        }
    </tbody>
</table>